.cabecalho {
  align-items: center;
  background-color: var(--preto);
  display: flex;
  justify-content: space-between;
  padding: 1.1em 10em;

}

@media  (max-width: 980px) {
  .cabecalho {
    padding: 1.1em 1rem;
  }
}